button[data-v-e7b4b5a7]:focus-visible,a[data-v-e7b4b5a7]:focus-visible,select[data-v-e7b4b5a7]:focus-visible,input[data-v-e7b4b5a7]:focus-visible{outline:none;box-shadow:0 0 0 3px #38bdf859;border-radius:12px}
